<html>
<head>
    <title>CS640 Technical Project - Puneet Chawla</title>
</head>
<body>
</br>
    <h3>Student Name: <u>Puneet Chawla</u></h3>
    <h3>Student ID: <u>87714</u></h3>

    <p1>
    	CS640 Course at ITU we learned about the web security and took a deep dive on all security aspects, from server backend security to best practice this course cover all important areas related to web security. 
    </p1></br></br>
    <p1>
    	From this course I have a better understanding of standard technology staples, needed in my industry. I feel more comfortable figuring out a programs infrastructure and now, able to work with the program and utilize all its resources. I also better understand how to analyze a program and create solutions.   I have learned how to better problem solve computing issues, by understanding the values of software, policies, and people using the programs. I have a better grasp on tying in the relationship of computing requirements with legal, ethical and social issues.

    </p1>
</body>
</html>